.container {
  margin: 50px;
  margin: 0 0 50px 30px;
}
.container p {
  color: white;
  font-size: 20px;
  line-height: 17px;
  font-weight: 700;
}

.movies-list {
  display: flex;
  overflow-x: auto;
}

.movies-list img {
  width: 200px;
  height: 124px;
}

.logo {
  /* width: 103px; */
  height: 100px;
  margin-left: 30px;
}
